* {
    box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;
  width: 80%;
}

.app-inner-row {
  display: flex;
}

.user-list-container {
  border: 1px solid black;
  border-radius: 2px;
  width: 250px;
  margin-right: 10px;
}

.user-list {
  display: flex;
  flex-direction: column;
}

.user-list-header {
  text-align: center;
  padding: 10px 0 10px;
  background: whitesmoke;
  border-bottom: 1px solid #999;
}

.user-list-button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 2px solid #999;
  background-color: whitesmoke;
  text-decoration: none;
  border-radius: 4px;
}

.user-list-button.active {
  background-color: #ffc211;
}

.user-list-button.button-candidates {
  border-right: 1px solid #999;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.user-list-button.button-agents {
  border-left: 1px solid #999;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.empty-user-group {
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

.user-list-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex: none;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #999;
}

.user-list-item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user-list-item-status {
  color: transparent;
  position: absolute;
  font-size: 3rem;
  left: 45px;
  top: 27px;
}

.user-list-item-status.user-online {
  color: lawngreen;
}

.user-list-item-status.user-away {
  color: yellow;
}

.user-list-item-photo {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex: none;
}

.user-list-item-unread {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.user-list-item-unread > span {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 1px;
  border: 1px solid #999;
  background-color: #ffc211;
  text-align: center;
}

.user-list-item.active {
  background: #ffc211;
}

.message-list-container {
  border: 1px solid black;
  border-radius: 2px;
  flex-grow: 2;
}

.message-list {
  display: flex;
  flex-direction: column;
}

.message-list-item {
  display: flex;
  padding: 10px;
}

.message-list-item-photo {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex: none;
}

.message-list-item-body {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}

.message-list > div:nth-child(even) {
    background: whitesmoke;
}


.message-list-item-header {
  display: flex;
  justify-content: space-between;
}

.message-list-item-time {
  font-style: italic;
  font-size: 1.2rem;
}

.message-list-item-name {
  font-weight: 700;
}

.message-list-date {
  border-top: dotted 1px black;
  border-bottom: dotted 1px black;
  text-align: center;
}

#message-form {
  display: flex;
  width: 100%;
  height: 30px;
}

.message-input {
  color: #143A4D;
  padding: .3em .6em;
  display: inline-block;
  background: whitesmoke;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  flex-grow: 1;
}

.message-input:focus {
  outline: 0;
  border-color: #129FEA;
}

.chat-button {
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chat-button:hover, .chat-button:focus {
  filter:alpha(opacity=90);
  background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.send-button {
  margin-left: 10px;
  font-size: 100%;
  padding: .25em 1em;
  border: 1px solid #999;
  background-color: #ffc211;
  text-decoration: none;
  border-radius: 2px;
}

.user-type-list {
  height: 20px;
  padding-left: 5px;
}
