* {
    box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;
  width: 80%;
}

.app-inner-row {
  display: flex;
  margin-bottom: 10px;
}

.user-list-container {
  border: 1px solid black;
  border-radius: 2px;
  width: 200px;
  margin-right: 10px;
}

.user-list {
  display: flex;
  flex-direction: column;
}

.user-list-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

.user-list-item-status {
  color: transparent;
  position: absolute;
  font-size: 3rem;
  left: 45px;
  top: 27px;
}

.user-list-item-status.user-online {
  color: lawngreen;
}

.user-list-item-photo {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex: none;
}

.user-list-item.active {
  background: #ffc211;
}

.message-list-container {
  border: 1px solid black;
  border-radius: 2px;
  flex-grow: 2;
}

.message-list {
  display: flex;
  flex-direction: column;
}

.message-list-item {
  display: flex;
  padding: 10px;
}

.message-list-item-photo {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex: none;
}

.message-list-item-body {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}

.message-list > div:nth-child(even) {
    background: whitesmoke;
}


.message-list-item-header {
  display: flex;
  justify-content: space-between;
}

.message-list-item-time {
  font-style: italic;
  font-size: 1.2rem;
}

.message-list-item-name {
  font-weight: 700;
}

.message-list-date {
  border-top: dotted 1px black;
  border-bottom: dotted 1px black;
  text-align: center;
}

#message-form {
  display: flex;
  width: 100%;
  height: 30px;
}

.message-input {
  color: #143A4D;
  padding: .3em .6em;
  display: inline-block;
  background: whitesmoke;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  flex-grow: 1;
}

.message-input:focus {
  outline: 0;
  border-color: #129FEA;
}

.send-button {
  margin-left: 10px;
  font-size: 100%;
  padding: .25em 1em;
  color: #793d1d;
  color: rgba(13,53,79,.8);
  border: 1px solid #999;
  border: transparent;
  background-color: #94a5b8;
  text-decoration: none;
  border-radius: 2px;
}

.user-type-list {
  height: 20px;
  padding-left: 5px;
}
