$primary-color: #ffc211;
@import '~loaders.css/src/animations/ball-pulse.scss';

* {
    box-sizing: border-box;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

#app {
  height: calc(100vh - 100px);
}

.app-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.chat-container {
  display: flex;
  flex-direction: row;
  flex-grow: 4;
}

.placeholder {
  background: whitesmoke;
  border: 1px solid #999;
  flex-grow: 4;
  margin-left: 15px;
}

.app-inner-column {
  display: flex;
  flex-direction: column;
  flex: auto;
  flex-grow: 2;
}

.user-list-container {
  border: 1px solid #999;
  width: 250px;
  margin-right: 10px;
}

.user-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-list-group {
  height: 100%;
}

.user-list-header {
  text-align: center;
  padding: 10px 0 10px;
  background: whitesmoke;
  border-bottom: 1px solid #999;
}

.user-list-button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 2px solid #999;
  background-color: whitesmoke;
  text-decoration: none;
  border-radius: 4px;
}

.user-list-button.active {
  background-color: $primary-color;
}

.user-list-button.button-candidates {
  border-right: 1px solid #999;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.user-list-button.button-agents {
  border-left: 1px solid #999;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.empty-user-group {
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

.user-list-item {
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex: none;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #999;
}

.user-list-item-pane {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-list-item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user-list-item-pane-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-list-item-message {
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user-list-item-status {
  color: transparent;
  position: absolute;
  font-size: 3rem;
  left: 45px;
  top: 27px;
}

.user-avatar {
  position: relative;
  flex: none;
  margin-right: 10px;
}

.user-avatar > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-avatar::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 16px;
  height: 16px;
  bottom: -1px;
  right: -1px;
  background-color: #b1b1b1;
}

.user-avatar.user-online::after {
  background-color: #37a000;
}

.user-avatar.user-away::after {
  background-color: $primary-color;
}

.user-list-item-unread {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.user-list-button > span {
  display: inline-block;
  margin-left: 5px;
}

.user-list-item-unread > span, .user-list-button > span {
  border-radius: 3px;
  width: 20px;
  height: 20px;
  background-color: #37a000;
  color: white;
  font-weight: 700;
  text-align: center;
}

.user-list-item.active {
  background: $primary-color;
}

.message-list-container {
  border: 1px solid #999;
  flex-grow: 4;
  height: 100%;
}

.message-list {
  display: flex;
  flex-direction: column;
}

.message-list-item {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-word;
}

.message-list-item-body {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}

.message-list > div:nth-child(even) {
    background: whitesmoke;
}


.message-list-item-header {
  display: flex;
  justify-content: space-between;
}

.message-list-item-time {
  font-style: italic;
  font-size: 1.2rem;
}

.message-list-item-name {
  font-weight: 700;
}

.message-list-date {
  border-top: dotted 1px #999;
  border-bottom: dotted 1px #999;
  text-align: center;
}

#message-form {
  display: flex;
  width: 100%;
  height: 30px;
}

.message-input {
  color: #143A4D;
  padding: .3em .6em;
  display: inline-block;
  background: whitesmoke;
  border: 1px solid #999;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 2px;
  vertical-align: middle;
  box-sizing: border-box;
  flex-grow: 1;
}

.message-input:focus {
  outline: 0;
  border-color: #129FEA;
}

.chat-button {
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chat-button:hover, .chat-button:focus {
  filter:alpha(opacity=90);
  background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.send-button {
  margin-left: 10px;
  font-size: 100%;
  padding: .25em 1em;
  border: 1px solid #999;
  background-color: $primary-color;
  text-decoration: none;
  border-radius: 2px;
}

.user-type-list {
  height: 20px;
  padding-left: 5px;
}
