{% extends "account/base.html" %}

{% load i18n bootstrap account %}

{% block head_title %}{% trans "Registration" %}{% endblock %}

{% block inner_content %}
<div class="container login">
    <div class="row">
        <div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6">
            <div class="form">
                <h1>{% if request.GET.account_type == '1' %}{% trans 'Candidate Registration' %}{% else %}{% trans "Agent Registration" %}{% endif %}</h1>
                <form method="post">
                  <input type="hidden" name="account_type" value="{{ request.GET.account_type }}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <input id="id_confirmation_key" maxlength="40" name="confirmation_key" type="hidden" />
                     {% csrf_token %}
                    <div class="form-group">
                        <div>
                            <input type="text" name="first_name" class="form-control" maxlength="30" required id="id_first_name" placeholder="First name" value="{{ form.first_name.value|default_if_none:'' }}"/>
                        </div>
                    </div>
                    {{ form.first_name.errors }}
                    <div class="form-group">
                        <div>
                            <input type="text" name="last_name" class="form-control" maxlength="30" required id="id_last_name" placeholder="Last name" value="{{ form.last_name.value|default_if_none:'' }}"/>
                        </div>
                    </div>
                    {{ form.last_name.errors }}
                    <div class="form-group">
                        <div>
                            <input type="tel" name="phone" class=" form-control" id="id_phone" placeholder="Phone number" value="{{ form.phone.value|default_if_none:'' }}"/>
                        </div>
                    </div>
                    {{ form.phone.errors }}
                    <div class="form-group">
                        <div>
                            <input type="email" name="email" class="form-control" placeholder="E-mail address" required id="id_email" value="{% if request.GET.email %}{{ request.GET.email }}{% else %}{{ form.email.value|default_if_none:'' }}{% endif %}"/>
                        </div>
                    </div>
                    {{ form.email.errors }}
                    <div class="form-group">
                        <div>
                            <input type="password" name="password1" class=" form-control" placeholder="Password" required id="id_password1"/>
                         </div>
                    </div>
                    {{ form.password1.errors }}
                    <div class="form-group">
                        <div>
                            <input type="password" name="password2" class=" form-control" placeholder="Password (again)" required id="id_password2" />
                        </div>
                    </div>
                    {{ form.password2.errors }}
                     <button class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
