{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block head_title %}{% trans "Registration" %}{% endblock %}


{% block inner_content %}
<div class="container login">
    <div class="row">
        <div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6">
            <div class="form">
                <h1>{% if request.GET.registered_as == 'a' %}{% trans 'Agent Registration' %}{% else %}{% trans "Registration" %}{% endif %}</h1>
                <form method="post">
                  <input type="hidden" name="registered_as" value="{% if request.GET.registered_as %}{{ request.GET.registered_as }}{% else %}c{% endif %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <input id="id_confirmation_key" maxlength="40" name="confirmation_key" type="hidden" />
                     {% csrf_token %}
                    <div class="form-group">
                        <div>
                            <input type="text" name="firstname" class="form-control" maxlength="30" required id="id_firstname" placeholder="First name" value="{{ form.firstname.value|default_if_none:'' }}"/>
                        </div>
                    </div>
                    {{ form.firstname.errors }}
                    <div class="form-group">
                        <div>
                            <input type="text" name="lastname" class="form-control" maxlength="30" required id="id_lastname" placeholder="Last name" value="{{ form.lastname.value|default_if_none:'' }}"/>
                        </div>
                    </div>
                    {{ form.lastname.errors }}
                    <div class="form-group">
                        <div>
                            <input type="tel" name="phone" class=" form-control" id="id_phone" placeholder="Phone number" value="{{ form.phone.value|default_if_none:'' }}"/>
                        </div>
                    </div>
                    {{ form.phone.errors }}
                    <div class="form-group">
                        <div>
                            <input type="email" name="email" class="form-control" placeholder="E-mail address" required id="id_email" value="{{ form.email.value|default_if_none:'' }}"/>
                        </div>
                    </div>
                    {{ form.email.errors }}
                    <div class="form-group">
                        <div>
                            <input type="password" name="password1" class=" form-control" placeholder="Password" required id="id_password1"/>
                         </div>
                    </div>
                    {{ form.password1.errors }}
                    <div class="form-group">
                        <div>
                            <input type="password" name="password2" class=" form-control" placeholder="Password (again)" required id="id_password2" />
                        </div>
                    </div>
                    {{ form.password2.errors }}
                     <button class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--                     <div class="auth-form text-center">
                       <form id="signup_form" role="form" method="post" action="{% url 'account_signup' %}">
                          {% csrf_token %}
                          {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                          {% endif %}

                            <input id="id_confirmation_key" maxlength="40" name="confirmation_key" type="hidden" />
                            <div class="form-group">
                                <label class="control-label" for="id_username">{% trans 'Your name' %}</label>
                                <div>
                                    <input class="form-control" id="id_username" name="username" placeholder="{% trans 'Your name' %}" type="text" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_email">{% trans 'E-mail' %}</label>
                                <div>
                                    <input class="form-control" id="id_email" name="email" placeholder="{% trans 'E-mail address' %}" type="email" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_password1">{% trans 'Password' %}</label>
                                <div>
                                    <input class=" form-control" id="id_password1" name="password1" placeholder="{% trans 'Password' %}" type="password" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_password2">{% trans 'Password (again)' %}</label>
                                <div>
                                    <input class="form-control" id="id_password2" name="password2" placeholder="{% trans 'Password (again)' %}" type="password" required />
                                </div>
                            </div>
                          <div class="row" style="padding-top:15px;">
                            <div class="col-lg-6 text-center">
                                <p style="color:#9e9e9e">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</a>
                                {% block help_text %}
                                {% endblock help_text %}
                                </p>
                            </div>
                            <div class="col-lg-6 text-center">
                                <button type="submit" class="btn btn-default" style="background-color:#3498db !important; border:3px solid #3498db; padding:8px 25px !important; width:100%; padding:15px; font-weight:bold; font-size:16px; color:#fff;">{% trans "Sign Up" %}</button>
                            </div>
                          </div>
                        </form>
                    </div> -->
{% endblock %}
