{% extends 'profileme/index.html' %}

{% load staticfiles i18n bootstrap %}

{% block content %}
<section id="internal-wrap">
    <!-- internal block -->
    <section id="job-posts">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h2>{% trans 'Job Posts' %}</h2>
                                <a href="{% url 'job_post_create' %}" class="btn btn-success">Create</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            {% for job_post in job_posts %}
                                <div class="row job-post-detail">
                                    <div class="pull-right">
                                        <a href="{% url 'job_post_update' job_post.uuid %}" class="btn btn-default">Edit</a>
                                        <a href="{% url 'job_post_delete' job_post.uuid %}" class="btn btn-danger">Delete</a>
                                    </div>
                                    <h3>{{ job_post.title }}</h3>
                                    <h5>{{ job_post.city }}, {{ job_post.get_country_display }}</h5>
                                    <p>{{ job_post.description }}</p>
                                    <div class="job-post-skills">
                                        {% for skill in job_post.skills.all %}
                                            <span class="skill">{{ skill.name }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end internal block -->
</section>
<!-- end new admin content -->
{% endblock %}
