{% extends 'users/index.html' %}

{% load staticfiles i18n %}

{% block content %}
<section id="internal-wrap">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li class="active">Activity Feed</li>
                <li><a href="{% url 'recruit:search' %}">Find job positions</a></li>
                <li><a href="{% url 'users:candidate_search' %}">Search Candidates</a></li>
                <li><a href="{% url 'users:agent_search' %}">Search Agents</a></li>
                <li><a href="{% url 'recruit:application' %}">My Application</a></li>
            </ol>
            <div class="col-md-12 text-center">
                <div style="padding-top: 20px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#activity-feed" aria-controls="activity-feed" role="tab" data-toggle="tab">Activity Feed</a>
                        </li>
                        <li role="presentation">
                            <a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab">Notifications {% if connection_requests %}<span class="badge badge-new badge-notification"><span class="badge-notification-count">{{ connection_requests.count }}</span> New</span>{% endif %}</a>
                        </li>
                        <li role="presentation">
                            <a href="#my-team" aria-controls="my-team" role="tab" data-toggle="tab">My Team</a>
                        </li>
                        <li role="presentation">
                            <a href="#my-candidate-network" aria-controls="my-candidate-network" role="tab" data-toggle="tab">My Candidate Network</a>
                        </li>
                        <li role="presentation">
                            <a href="#my-agent-network" aria-controls="my-agent-network" role="tab" data-toggle="tab">My Agent Network</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="activity-feed">
                            <h1>Job Referrals by Team Members</h1>
                            <div class="row">
                                {% for job_referral in job_referrals %}
                                    <div class="item-card col-md-6">
                                        <div class="col-md-4">
                                            <img class="search-company-image" src="{% if job_referral.job_post.posted_by.company.logo %}{{ job_referral.job_post.posted_by.company.logo.url }}{% else %}{% static 'img/default_logo.png' %}{% endif %}">
                                            <div class="job-posted-by pull-right">
                                                <span class="search-info">{{ job_referral.job_post.created_at|date }}</span>
                                                <span class="search-info"><strong>Posted By:</strong></span>
                                                <a href="{% url 'users:profile_detail' job_referral.job_post.posted_by.user.slug %}">
                                                    <img src="{% if job_referral.job_post.posted_by.photo %}{{ job_referral.job_post.posted_by.photo.url }}{% else %}{% static 'img/default_user.jpg' %}{% endif %}" style="width:20px; border-radius:50%">
                                                    <span>{{ job_referral.job_post.posted_by.user.get_full_name }}</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-8 text-left">
                                            <span class="search-info"><a href="{% url 'recruit:job_post_detail' job_referral.job_post.uuid %}">{{ job_referral.job_post.title }}</a></span>
                                            <span class="search-info">{{ job_referral.job_post.posted_by.company.name }}</span>
                                            <span class="search-info">{{ job_referral.job_post.city }}, {{ job_referral.job_post.country.name }}</span>
                                            <div class="job-post-skills search-info">
                                                {% for skill in job_referral.job_post.skills.all %}
                                                    <span class="skill">{{ skill.name }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-md-8 text-right" style="margin-top: 40px;">
                                            <span class="search-info"><strong>Referred By:</strong></span>
                                                <a href="{% url 'users:profile_detail' job_referral.referred_by.user.slug %}">
                                                    <img src="{% if job_referral.referred_by.photo %}{{ job_referral.referred_by.photo.url }}{% else %}{% static 'img/default_user.jpg' %}{% endif %}" style="width:20px; border-radius:50%">
                                                    <span>{{ job_referral.referred_by.user.get_full_name }}</span>
                                                </a>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>No referrals as of the moment.</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="notifications">
                            <div class="col-md-4">
                                <h1>Network</h1>
                                <div class="row">
                                    {% for connection_request in candidate_to_candidate_network_requests %}
                                        {% include "recruit/snippets/connection_request_card.html" %}
                                    {% empty %}
                                        <p>No requests as of the moment.</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h1>Team Member</h1>
                                <div class="row">
                                    {% for connection_request in candidate_to_candidate_team_member_requests %}
                                        {% include "recruit/snippets/connection_request_card.html" %}
                                    {% empty %}
                                        <p>No requests as of the moment.</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h1>Agents</h1>
                                <div class="row">
                                    {% for connection_request in candidate_to_agent_network_requests %}
                                        {% include "recruit/snippets/connection_request_card.html" %}
                                    {% empty %}
                                        <p>No requests as of the moment.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="my-team">
                            <div class="col-md-12">
                                <div class="row">
                                    {% for connection in candidate_to_candidate_team_member_connections %}
                                        {% include "recruit/snippets/connection_card.html" %}
                                    {% empty %}
                                        <p>You have no team members yet.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="my-candidate-network">
                            <div class="col-md-12">
                                <div class="row">
                                    {% for connection in candidate_to_candidate_network_connections %}
                                        {% include "recruit/snippets/connection_card.html" %}
                                    {% empty %}
                                        <p>You don't have anyone in your network yet.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="my-agent-network">
                            <div class="col-md-12">
                                <div class="row">
                                    {% for connection in candidate_to_agent_network_connections %}
                                        {% include "recruit/snippets/connection_card.html" %}
                                    {% empty %}
                                        <p>You don't have anyone in your network yet.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer_js %}
<script type="text/javascript">
    $('.btn-connection-request').on("click", function() {
        var uuid = $(this).attr('data-uuid');
        var action = $(this).attr('data-action');

        $.ajax({
            context: this,
            type: 'POST',
            url: Urls['recruit:connection_request_delete'](uuid),
            data: {
                action: action,
            },
            dataType: "json",
            success: function(response) {
                var count = $('.badge-notification-count').html();
                if (count == 1) {
                    $('.badge-notification').remove();
                }
                else {
                    $('.badge-notification-count').html(count - 1);
                }
                var row = $(this).closest('.row');
                if (row.find('.connection-request-card').length == 1)
                    row.html('<p>No requests as of the moment.</p>')

                $(this).closest('.connection-request-card').remove();
            }
        });
    });
</script>
{% endblock footer_js %}
