{% extends 'users/index.html' %}

{% load staticfiles i18n %}

{% block content %}
<section id="internal-wrap">
    <div class="container">
        <div class="row">
            {% if user.account_type == user.ACCOUNT_CANDIDATE  %}
                <ol class="breadcrumb">
                    <li class="active">Activity Feed</li>
                    <li><a href="{% url 'recruit:search' %}">Find job positions</a></li>
                    <li><a href="{% url 'users:candidate_search' %}">Search Candidates</a></li>
                    <li><a href="{% url 'recruit:application' %}">My Application</a></li>
                </ol>
            {% endif %}
            <div class="col-md-10 col-md-offset-1 text-center">
                <div style="padding-top: 20px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#activity-feed" aria-controls="activity-feed" role="tab" data-toggle="tab">Activity Feed</a>
                        </li>
                        <li role="presentation">
                            <a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab">Notifications {% if connection_requests %}<span class="badge badge-new badge-notification"><span class="badge-notification-count">{{ connection_requests.count }}</span> New</span>{% endif %}</a>
                        </li>
                        <li role="presentation">
                            <a href="#my-team" aria-controls="my-team" role="tab" data-toggle="tab">My Team</a>
                        </li>
                        <li role="presentation">
                            <a href="#my-network" aria-controls="my-network" role="tab" data-toggle="tab">My Network</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="activity-feed">
                            <h1>Activity Feed</h1>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="notifications">
                            <div class="col-md-6">
                                <h1>Network</h1>
                                <div class="row">
                                    {% for connection_request in connection_requests %}
                                        {% if connection_request.connection_type == connection_request.CONNECTION_NETWORK %}
                                            {% include "recruit/snippets/connection_request_card.html" %}
                                        {% endif %}
                                    {% empty %}
                                        <p>No requests as of the moment.</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h1>Team Member</h1>
                                <div class="row">
                                    {% for connection_request in connection_requests %}
                                        {% if connection_request.connection_type == connection_request.CONNECTION_NETWORK %}
                                            {% include "recruit/snippets/connection_request_card.html" %}
                                        {% endif %}
                                    {% empty %}
                                        <p>No requests as of the moment.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="my-team">
                            <div class="col-md-12">
                                <div class="row">
                                    {% for connection in connections %}
                                        {% if connection.connection_type == connection.CONNECTION_TEAM_MEMBER %}
                                            {% include "recruit/snippets/connection_card.html" %}
                                        {% endif %}
                                    {% empty %}
                                        <p>You have no team members yet.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="my-network">
                            <div class="col-md-12">
                                <div class="row">
                                    {% for connection in connections %}
                                        {% if connection.connection_type == connection.CONNECTION_NETWORK %}
                                            {% include "recruit/snippets/connection_card.html" %}
                                        {% endif %}
                                    {% empty %}
                                        <p>You don't have anyone in your network yet.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer_js %}
<script type="text/javascript">
    $('.btn-connection-request').on("click", function() {
        var uuid = $(this).attr('data-uuid');
        var action = $(this).attr('data-action');

        $.ajax({
            context: this,
            type: 'POST',
            url: Urls['recruit:connection_request_delete'](uuid),
            data: {
                action: action,
            },
            dataType: "json",
            success: function(response) {
                var count = $('.badge-notification-count').html();
                if (count == 1) {
                    $('.badge-notification').remove();
                }
                else {
                    $('.badge-notification-count').html(count - 1);
                }
                var row = $(this).closest('.row');
                if (row.find('.connection-request-card').length == 1)
                    row.html('<p>No requests as of the moment.</p>')

                $(this).closest('.connection-request-card').remove();
            }
        });
    });
</script>
{% endblock footer_js %}
