{% extends 'users/index.html' %}

{% load staticfiles i18n %}

{% block content %}
<section id="internal-wrap">
    <!-- internal block -->
        <div class="container">
            <div class="row" style="padding-top:40px;">
                <div class="col-md-3">
                    <h3>Filters</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Skills</h4>
                            {% for skill in skills %}
                                <a href="#" class="add-filter">{{ skill.name }}</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-9 text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="{% url 'recruit:search' %}" method="GET">
                                <div class="search_block">
                                    <input type="text" placeholder="Search..." name="search" value="{{ search|default_if_none:'' }}"/>
                                    <input type="hidden" name="filter" value="{{ filter|default_if_none:'' }}"/>
                                    <button class="btn search-btn" type="submit" value="Search"><i class="glyphicon glyphicon-search"></i> Search</button>
                                </div>
                                <div>
                                    <div class="search-filters">
                                        {% for item in filters %}
                                            <span class="filter-item">{{ item }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 search_results">
                            {% for result in results %}
                                {% if request.user.registered_as == request.user.ACCOUNT_CANDIDATE %}
                                    <div class="search__candidate" style="width:100%; border:1px solid #dfdfdf; padding:15px;">
                                        <h2>{{ result.title }}</h2>
                                        <h5>{{ result.city }}, {{ result.get_country_display }}</h5>
                                        <p>{{ result.description }}</p>
                                        <div class="job-post-skills">
                                            {% for skill in result.skills.all %}
                                                <span class="skill">{{ skill.name }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="search__candidate" style="width:100%; border:1px solid #dfdfdf; padding:15px;">
                                        <a href="#">
                                            <img src="{% if result.photo %}{{ result.photo.url }}{% else %}{% static 'img/default_user.jpg' %}{% endif %}" style="width:100px; border-radius:50%">
                                            <span class="candidate_info">{{ result.user.get_full_name }}</span>
                                            {% if result.title %}
                                                <span class="candidate_info">Title: {{ result.title }}</span>
                                            {% endif %}
                                            {% if result.skills %}
                                                <span class="candidate_info">Skills: {{ result.skills }}</span>
                                            {% endif %}
                                            {% if result.phone %}
                                                <span class="candidate_info">Phone: {{ result.phone }}</span>
                                            {% endif %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% empty %}
                                <p>No results matching your criteria found.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- end internal block -->
</section>
<!-- end new admin content -->
{% endblock %}

{% block footer_js %}
<script type="text/javascript">
    $('.add-filter').on("click", function(event) {
        event.preventDefault();
        var filter = $(this).html();
        $('input[name=filter]').val()
    });
</script>
{% endblock footer_js %}
