{% extends 'profileme/index.html' %}{% load staticfiles %}{% load i18n %}

{% block head_js %}{{ block.super }}{% endblock %}
{% block extra_css %}{{ block.super }}{% endblock %}

{% block content %}
<section id="internal-wrap">
    <!-- internal block -->
    <section id="account">
        <div class="container">
            <div class="row">
            	<div class="col-md-7 col-md-offset-1 profile-left">
            	    <div class="row">
            			<div class="col-md-4 text-center">
            				<h4>{{ request.user.get_full_name }}</h4>
            			</div>
            			<div class="col-md-8 account-actions">
            				<a class="btn" href="{% url 'dashboard_update_profile' %}"><i class="glyphicon glyphicon-edit"></i> Edit profile</a>
            				<a class="btn" href="{% url 'account_change_password' %}"><i class="glyphicon glyphicon-lock"></i> Change password</a>
            			</div>
            		</div>
            		<div class="row">
            			<div class="col-md-4 text-center">
            				<h5>Photo</h5>
            				<img id="profile_photo" src="{% if profile.photo %}{{ profile.photo.url }}{% else %}{% static 'img/default_user.jpg' %}{% endif %}">
							<form action="{% url 'dashboard_photo_upload' %}" id="photo_upload_form" method="post" role="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="photo" id="photo_upload" style="display:none"/>
                                <button type="button" class="btn" id="photo_upload_btn" OnClick="javascript:void(0)">{% trans "Update Photo" %}</button>
                            </form>
                            
            			</div>
            			<div class="col-md-8">
            				<h5>Job ads</h5>
							<ul class="agent-job-stats">
								<li><i class="glyphicon glyphicon-heart"></i><b>8</b> Live</li>
								<li><i class="glyphicon glyphicon-paperclip"></i><b>15</b> Posted</li>
								<li><i class="glyphicon glyphicon-tasks"></i><b>12</b> Remaining</li>
							</ul>
							<a href="{% url 'search' %}" class="btn action-btn" style="width:80%; margin-top:20px;"><i class="glyphicon glyphicon-search"></i>Find candidates</a>
            			</div>
            		</div>
            	</div>
            	<div class="col-md-3 profile-right">
            		<h4>{% trans 'Your company' %}</h4>
            		{% if not profile.company %}
            			<p>{% trans 'No company attached to account yet.' %}</p>
            		{% else %}
            		{% if company.logo %}<img src="{{ company.logo.url }}" style="width:100%; margin-bottom:10px;">{% endif %}
            		<div class="agent_profile__company_details">
            			<span>{{ company.name }}</span>
            			{% if company.address_1 %}<span>{{ company.address_1 }}</span>{% endif %}
            			{% if company.address_2 %}<span>{{ company.address_2 }}</span>{% endif %}
            			{% if company.zip and company.city %}<span>{{ company.zip }} {{ company.city }}</span>{% endif %}
            			{% if company.country %}<span>{{ company.get_country_display }}</span>{% endif %}
            			{% if company.website %}<span><a href="{{ company.website }}">{{ company.website }}</a></span>{% endif %}
            			{% if company.overview %}<hr>
            			<span>{{ company.overview }}</span>
            			{% endif %}
            			<hr>
            			<span>Main contact: {{ company.owner.get_full_name }}</span>
            		</div>
						{% if company.owner == request.user %}
						<a href="{% url 'dashboard_update_company' %}" class="btn action-btn"><i class="glyphicon glyphicon-briefcase"></i> {% trans 'Update Company Profile' %}</a>
						<a href="{% url 'dashboard_invite_users' %}" class="btn action-btn"><i class="glyphicon glyphicon-user"></i> {% trans "Add User" %}</a>
						{% endif %}
					{% endif %}
				</div>
                <!-- lists / placeholders -->
                <!--<div class="col-md-7 col-md-offset-1 bottom-blocks-left">
                	<div class="row">
                		<div class="col-md-12 my-applications">
                			<h4>My applications</h4>
                			<div class="inner">
                				You haven't applied for any jobs
							</div>
                		</div>
						<div class="col-md-12 job-alerts">
							<h4>Job Alerts</h4>
							<div class="inner">
								Job alerts
							</div>
                		</div>
                	</div>
                </div>
                <div class="col-md-3 suggested-jobs">
                	<h4>Suggested Jobs</h4>
                	<div class="inner">
                		Start by setting up a job alert
                	</div>
                </div>-->
                 
                <!-- end lists -->
            </div>
        </div>
    </section>
    <!-- end internal block -->
</section>
<!-- end new admin content -->
{% endblock %}

{% block footer %}
{{ block.super }}
{% endblock %}

{% block js_bottom %}
{{ block.super }}
<script src="{% static 'js/jquery.form.min.js' %}"></script>
<script>
	function updateProfilePhoto(responseText, statusText, xhr, $form){
		if(responseText['success'] == true){
			document.getElementById("profile_photo").src = responseText['image'];
		}
	}
	function updateCandidateCV(responseText, statusText, xhr, $form){
		if(responseText['success'] == true){
			$('#cv_updated').fadeIn().delay(500).fadeOut();
			document.getElementById("current_cv").href = responseText['cv'];
		}else{
			console.log(responseText);
		}
	}
	$("#cv_upload_btn").on("click", function() {
		$("#cv_upload").trigger("click");
	});
	$("#photo_upload_btn").on("click", function() {
		$("#photo_upload").trigger("click");
	});
	$("#photo_upload").change(function(){
		$("#photo_upload_form").ajaxSubmit({success:updateProfilePhoto});
	});
	$("#cv_upload").change(function(){
		$("#cv_upload_form").ajaxSubmit({success:updateCandidateCV});
	});
</script>
{% endblock %}
